/*
Author: Benjamin Steele
Project: CIS275 Wine Database Webapp - L'Enfant
Path: wine_db_app/css/home.css
Date: 11/17/2017
Description: Contains CSS to overwrite/change default bootstrap settings, and
             style elements.
*/

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
}

h3 {
    text-align: center;
    font-family: Arial, sans-serif;
}

h4 {
    text-align: center;
    font-family: Arial, sans-serif;
}

.login-alert{
  text-align: center;
}

.homebutton{
  margin-bottom: 10px;
}
